# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/data/images/
backend/data/prospecton.db
backend/data/browser_profile/
backend/static/vistorias/
backend/reports/

# Root Reports
reports/
data/*.db

# Frontend
frontend/node_modules/
frontend/.next/
*.log

# System
.DS_Store
*.pyc
nul

